@import "tailwindcss";

@theme {
  --color-*: initial;


  --color-primary: #c01a40;
  --color-primary2: #ff0055;
  --color-hover: #AF5EFF;
  --color-purple: #190c2b;
  --color-yellow: #FFD900;
  --color-danger: #F05D6C;
  --color-green: #00AE2E;
  --color-gray-100: #C8D0DA;
  /*title*/
  --color-gray-200: #95A1B1;
  /*text-secundary*/
  --color-gray-300: #6F7D90;
  /*price 2*/
  --color-gray-400: #555E70;
  /*border*/
  --color-gray-500: #2A313C;
  /*text-button*/
  --color-gray-600: #221F2F;
  /*bg-card*/
  --color-gray-700: #0e0c1d;
  /*bg*/

  --font-sans: var(--font-roboto);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat);
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }

  0% {
    transform: translateX(100%);
  }
}

.cartFixed {
  cursor: pointer;
  bottom: 20px;
  right: 20px;
  position: fixed;
  animation: cartFixed 1s ease-in-out infinite alternate;
}

@keyframes cartFixed {
  0% {
    transform: translatey();
  }

  100% {
    transform: translatey(calc(4vh - 20px));
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 10s linear infinite;
}

.sombra-interna {
  box-shadow: inset 0 -15px 15px rgb(15, 18, 22);
}

/* Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* Chrome, Safari, Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
  background: #6F9DE2;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5196FF;
}

.h-custom-calc {
  height: calc(100% - 165px);
}

.input-date::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 1;
  cursor: pointer;
}