@import "tailwindcss";

@theme {
  --color-*: initial;

  --color-background: var(--color-themeColor);
  --color-foreground: var(--color-textColor);

  --color-card: var(--color-bgCard);
  --color-card-foreground: var(--color-textColor);

  --color-popover: var(--color-bgCard);
  --color-popover-foreground: var(--color-textColor);

  --color-primary: var(--color-primaryColor);
  --color-primary-foreground: var(--color-textButton);

  --color-secondary: var(--color-secondaryColor);
  --color-secondary-foreground: var(--color-textButton);

  --color-muted: var(--color-bgCard);
  --color-muted-foreground: var(--color-oldPrice);

  --color-accent: var(--color-hover);
  --color-accent-foreground: var(--color-textButton);

  --color-destructive: var(--color-danger);
  --color-destructive-foreground: var(--color-textButton);

  --color-success-bg: var(--color-success);
  --color-success-foreground: var(--color-textButton);

  --color-warning-bg: var(--color-warning);
  --color-warning-foreground: var(--color-textButton);

  --color-border: var(--color-borderColor);
  --color-input: var(--color-borderColor);
  --color-ring: var(--color-primaryColor);

  --color-chart-1: var(--color-primaryColor);
  --color-chart-2: var(--color-secondaryColor);
  --color-chart-3: var(--color-hover);
  --color-chart-4: var(--color-success);
  --color-chart-5: var(--color-warning);

  --font-sans: var(--font-roboto);
  --breakpoint-xs: 31.2rem;
  --radius: 0.5rem;


  --color-primaryColor: #3b82f6;
  --color-secondaryColor: #64748b;
  --color-hover: #2563eb;
  --color-star: #fbbf24;
  --color-danger: #ef4444;
  --color-success: #10b981;
  --color-warning: #FFB800;
  --color-price: #059669;
  --color-shadowColor: rgba(0, 0, 0, 0.01);

  --color-title: #1f2937;
  --color-textColor: #374151;

  --color-textHover: #111827;

  --color-oldPrice: #9ca3af;
  --color-textButton: #ffffff;

  --color-bgCard: #ffffff;
  --color-themeColor: #f8fafc;
  --color-bgFooterColor: #221F2F;
  --color-borderColor: #1f2937;

  --color-green: green;
  --color-red: red;
  --color-yellow: yellow;
  --color-blue: blue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat);
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
}

.animate-marquee {
  display: inline-block;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }

  0% {
    transform: translateX(100%);
  }
}

.cartFixed {
  cursor: pointer;
  bottom: 20px;
  right: 20px;
  position: fixed;
  animation: cartFixed 1s ease-in-out infinite alternate;
}

@keyframes cartFixed {
  0% {
    transform: translatey();
  }

  100% {
    transform: translatey(calc(4vh - 20px));
  }
}

.floatingMenu {
  animation: reveal 0.5s cubic-bezier(0.85, 0, 0.15, 1);
}

@keyframes reveal {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

.sombra-interna {
  box-shadow: inset 0 -15px 15px rgb(15, 18, 22);
}

/* Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* Chrome, Safari, Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primaryColor);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-hover);
}

.h-custom-calc {
  height: calc(100% - 165px);
}

.input-date::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 1;
  cursor: pointer;
}